@mixin pseudo ($content) {
    content: $content;
    position: absolute;
    font-size: 1.6rem;
    font-weight: 500;
    background-color: #fff;
    opacity: .8;
    width: 130px;
    height: 30px;
    line-height: 30px;
    right: 10px;
    top: 10px;
    text-align: center;
}

@mixin pseudo1024 ($content) {
    content: $content;
    position: absolute;
    font-size: 1.8rem;
    font-weight: 500;
    background-color: #fff;
    opacity: .8;
    width: 150px;
    height: 34px;
    line-height: 34px;
    right: 20px;
    top: 20px;
    text-align: center;
}

@mixin main-text-style {
    font-size: 2.5rem;
    font-weight: lighter;
}

@mixin main-text-style1024 {
    font-size: 2.2rem;
    font-weight: lighter;
}

@mixin button-style ($button-width) {
    display: block;
    border-radius: 30px;
    background-color: #AE5F3D;
    width: $button-width;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    border: none;
    transition: all 1s;
}

@mixin button-style1024 ($button-width) {
    display: block;
    border-radius: 30px;
    background-color: #AE5F3D;
    width: $button-width;
    height: 48px;
    line-height: 48px;
    margin: 0 auto;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
    border: none;
    transition: all 1s;
}